@model InvoiceHeaderViewModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Add New Invoice Header" : "Edit Invoice Header";
}

<h1>@(Model.Id == 0 ? "Add New Invoice Header" : "Edit Invoice Header")</h1>
<hr />
<form asp-action="@(Model.Id == 0 ? "Add" : "Update")" id="invoiceForm">
    <input hidden asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 row">
        <label asp-for="CustomerName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Invoicedate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Invoicedate" class="form-control" />
            <span asp-validation-for="Invoicedate" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="BranchId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="form-select" asp-for="BranchId" asp-items="@Model.BranchListItems">
                <option value="0">--Select Branch Name--</option>
            </select>
            <span asp-validation-for="BranchId" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row d-none" id="cashier-container">
        <label for="CashierId" class="col-sm-2 col-form-label">Cashier Name</label>
        <div class="col-sm-10">
            <input hidden name="CashierId" value="@Model.CashierId" id="hidden-cashier-id" />
            <select class="form-select" id="CashierId">
                <option value="0">--Select Cashier Name--</option>
            </select>
            <span asp-validation-for="CashierId" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-5">
        <input type="submit" class="btn btn-primary" />
        <a asp-action="index" class="btn btn-dark">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/site.js"></script>
}
